* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: 1px solid yellow; */
}
body {
    /* background-color: yellow;
} */

/* html, body {
    overflow-x: hidden;
} */

.navbar {
    width: 100%;
    /* height: 100px; */
    height: 65px;
    background-color: #0F1111;
    border: 3px solid black;
    display: flex;
    
}

.border {
    border: 2px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
    border-radius: 3px;
    cursor: pointer;
}

/* Box 1 */
.navlogo {
    width: 160px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}
.navlogo img {
    width: 125px;
    height: 50px;
}

/* Box 2 */
.location {
    width: 225px;
    height: 55px;
    display:flex;
    margin: 2px;
}
#locationlogo {
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    padding-top: 22px;
    padding-left: 8px;
}    
#locationinfo {
    width: 200px;
    height: 40px;
    color: white;
    padding-top: 10px;
    padding-left: 5px;
}
#p1 {
    font-size: 12px;
}
#p2 {
    font-size: 14px;
}

/* Box 3 */
.searchbar {
    width: 750px;
    /* flex: 1;
    min-width: 300px; */
    height: 60px;
    /* background-color: white; */
    padding: 10px 4px 10px 4px;
    display: flex;
    margin: 2px;
}
#category {
    width: 45px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#search {
    width: 650px;
    /* flex: 1; */
    height: 40px;
    border: none;
}
#logo {
    width: 40px;
    height: 40px;
    color: black;
    background-color: rgba(72, 255, 0, 0.925);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo i {
    font-size: 20px;
}
#logo:hover {
    cursor: pointer;
}

/* Box 4 */
.navlanguage {
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 2px;
}
#flag {
    width: 20px;
    height: 15px;
    padding: 3px;
}
#flag i {
    color: rgb(245, 217, 7);
}
#selectlang {
    width: 25px;
    height: 15px;
}

/* Box 5 */
.navsignup {
    width: 200px;
    height: 50px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 2px; 
    /* border: none; */
}
#signin {
    font-size: 12px;
}
#account {
    font-size: 14px;
}

/* Box 6 */
.navreturn {
    width: 80px;
    height: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px; 
}
#return {
    font-size: 12px;
}
#order {
    font-size: 14px;
}

/* Box 7 */
.navcart {
    width: 90px;
    height: 50px;
    color: white;
    display:flex ;
    margin: 2px; 
}
#cart-logo {
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
}
#cart {
    width: 40px;
    height: 40px;
    font-size: 16px;
    display: flex;
    align-items:end;
    font-weight: bolder;
}

/* Lower Nvabar */

.navbar-2 { 
    width: 100%;
    height: 40px;
    color: white;
    background-color: #252b2bff;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.border2:hover {
    border: 1px solid white;
    border-radius: 1px;
    cursor: pointer;
}

.items {
    height: 40px;
    display: flex;
    align-items: center;
}


 /* CONTENT OF WEBSITE */

 .container {
    /* width: 98%; */
    width: 100%;
    height: auto;
    padding: 0 20px;
    background-color: rgba(238, 233, 233, 0.982);
    /* margin-left: 10px;
    margin-right: 10px; */
 }
 .top-product {
    width: 100%;
    height: 300px;
    display: flex;
 }
 .slide {
    width: 10%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
  #slide-logo i {
    font-size: 50px;
 }
 #slide-logo i {
    color: black;
  }
 #product {
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: center;
 }
#product img {
    width: 90%;
    height: 300px;
} 

/* PRODUCT SECTION */

.product-container-1 {
    /* width: 1500px; */
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    height: auto;
    /* border: 2px solid black; */
    background-color: rgba(238, 233, 233, 0.982);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
}
.product-box {  
    width: 100%;
    background-color: #FFFFFF;
    color: black;
    /* border: 2px solid black; */
}
.product-title {
    width: 100%;
    height: auto;
    /* padding: 5px; */
}

.product-title h2 {
    /* width: 300px; */
    /* height: 30px; */
    margin-left: 20px ;
    margin-top: 20px;
    /* padding: ; */
    font-size: 21px;
    color: #0F1111;
}

.product-image {
    /* width: 350px; */
    width: 100%;
    height: 400px;
    /* border: 2px solid rgb(54, 6, 244); */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    padding: 10px;
}
.product-image img{
    width: 150px;
    height: 110px;
    padding-left: 10px;
}
.product-image a{
    text-decoration: none; 
    color: #0F1111;
}
.product-image p {
    font-size: 12px;
    font-weight: bolder;   
}
.explore-more {
    margin-bottom: 20px;
}
.explore-more a {
    text-decoration: none;
    color: #2162A1;
    font-size: 13px;
}

.product-container-2 {
    /* width: 1500px; */
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    height: auto;
    /* border: 2px solid black; */
    background-color: rgba(238, 233, 233, 0.982);
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 5px;
}
.product-box-2 {  
    /* width: 100%; */
    /* background-color: rgba(177, 13, 222, 0.727); */
    color: black;
    /* border: 2px solid black; */
}
.product-title-2 {
    display: flex;
    margin: 10px;
}
.right-title {
    padding: 7px;
}
.left-title {
    padding: 10px;
} 
.product-title-2 h2 {
    font-size: 21px;
    color: #0F1111;
}
.product-title-2 a {
    text-decoration: none;
    color: #2162A1;
    font-size: 14px;
}
.product-image-2 {
    width: 100%;
    /* background-color: rgb(49, 215, 110); */
    color: black;
    /* border: 2px solid black; */
    display: flex;
    gap: 5px;
}
.resize-1 img {
    /* width: 311px; */
    width: 100%;
    height: 250px;
}
.resize-2 img {
    /* width: 311px; */
    width: 100%;
    height: 300px;
}


  /* Lower signin */

.lower-signin {
    width: 100%;
    height: 150px;
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    margin-top: 5px;
}
.signin-description {
    padding: 5px;
    display: flex;
    justify-content: center;
}
#signin-button {
    width: 250px;
    height: 33px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: yellowgreen;
}
#signin-button:hover {
    cursor: pointer;
}
.signin-description p {
    font-size: 11px;
}


/* FOOTER OF WEBSITE */

.footer {
    width: 100%;
    height: auto;
}
#back-to-top {
    width: 100%;
    height: 50px;
    background-color:  #37475A;
    display: flex;
    justify-content: center;
    align-items: center;
}
#back-to-top:hover {
    cursor: pointer;
    background-color: #465a72;
}
#back-to-top a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.footer-1 {
    width: 100%;
    height: auto;
    background-color: #232F3E;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
   
}
.footer-1-content {
    /* border: 2px solid white; */
    /* width: 250px; */
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    /* gap: 10px; */
    padding: 5px;
    color: white;
}
.footer-1-content h3 {
    font-size: 16px;
}
.footer-1-content a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 500;
}
.footer-1-content a:hover {
    text-decoration: underline;
}
.footer-1-content  li{
    list-style-type: none;
}


/* FOOTER 2 */
.footer-2 {
    width: 100%;
    height: 120px;
    background-color: #232F3E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 400px;
    padding-right: 400px;
    /* padding: 0 20px;
    flex-wrap: wrap; */
}
#footer-logo img {
    width: 80px;
    height: 40px;
    border-radius: 3px;
}

.footer-language {
    width: 150px;
    height: 40px;
    border: 1px solid white;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#lang-select {
    width: 70px;
    height: 20px;
    border: none;
}
#globe-logo img {
    width: 20px;
    height: 20px;
}
#up-down-logo img {
    width: 15px;
    height: 15px;
    margin-top: 3px;
    
}
.footer-country {
    width: 100px;
    height: 38px;
    border: 1px solid white;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 11px;
    padding-right: 11px;
    margin: 5px;
}
#country-flag img {
    width: 25px;
    height: 20px;

}
#country-name p {
    font-size: 13px;
    color: white;
}


/* FOOTER 3 */
.footer-3 {
    width: 100%;
    height: 300px;
    background-color: #131A22;
    padding: 0px 100px;
}
.part-1 {
    width: 80%;
    height: 180px;
    color: white;
    padding-top: 40px;
    padding-right: 150px;
    padding-left: 100px;
    padding-bottom: 20px;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
}
.part-1-content {
    width: 150px;
    height: 60px;
    /* background-color: red; */
}
.part-1-content a {
    text-decoration: none;
    color: white;
}
.part-1-content li {
    list-style-type: none;
    font-size: 12px;
}
.part-1-content h5 {
    font-size: 12px;
}
.effect:hover {
    text-decoration: underline;
}


.part-2 {
    padding: 10px;
    /* margin: 10px; */
}
.part-2-content {
    width: 100%;
    margin: 10px;
    /* padding: 5px; */
    display: flex;
    align-items: center;    
    justify-content: center;
}
.part-2-content li {
    list-style-type: none;
    padding: 10px;
    color: white;
    font-size: 12px;
}
.part-2-content li:hover {
    text-decoration: underline;
}
.part-2-content a {
    text-decoration: none;
    display: flex;
}
#affiliates {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 12px;
}
