* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
     background-image: radial-gradient( circle 476px at 54.8% 51.5%,  rgba(168,229,253,1) 0%, rgba(244,244,254,1) 42.3%, rgba(244,244,254,1) 100.2% );
}

h2 {
    color: black;
    text-decoration: underline;
    text-shadow: 1px 1px;
}
h3 {
    color: black;
    text-decoration: underline;
  
}

.container {
    width: 100%;
    height: 100%;
}

.navBar {
    width: 100vw;
    height: 100px;
    padding: 50px;
    background-image: linear-gradient( 126.6deg,  rgba(44,115,210,1) 3.4%, rgba(251,234,255,1) 127.9% );
    /* border: 5px solid black;
    border-radius: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#title {
    padding: 150px;
    font-size: 2.5rem;
    transition: all 1s, tranform 1s;
}
#title:hover {
    transform: scale(1.2);
    color: white;
}
#list ul{
    display: flex;
    gap: 30px;
}
#list a {
    text-decoration: none;
}
#list a:hover {
    color: white;
}

#list li {
    list-style: none;
    font-size: 1.5rem;
    transition: all 1s, tranform 1s;
}
#list li:hover {
    transform: scale(1.1);
}

.box {
    width: 80%;
    /* height: 700px; */
    border: 3px solid black;
    margin: auto;
    box-shadow: -10px 10px 3px orangered ;
    background-image: radial-gradient( circle farthest-corner at 8.3% 21.6%,  rgba(252,92,125,1) 13.1%, rgba(106,130,251,1) 90% );

}
#box1 {
    /* height: 200px; */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.image img {
    transition: all 1s linear ,transform 1s;
}
.image img:hover {
    transform: scale(1.2);
}
.image {
    position: relative;
    overflow: hidden;
}
.image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(206, 164, 164);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.image:hover .overlay {
    opacity: 1;
}

#box2 {
    /* height: 200px; */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

#box3 {
    /* height: 200px; */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.image {
    /* margin: 50px; */
    padding: 50px;
}
.text {
    /* margin: 50px; */
    padding: 50px;
}

.image img {
    width: 250px;
    height: 300px;
    border-radius: 5px;
    box-shadow: -5px 5px 10px ;
}

.footer {
    width: 100%;
    height: 50px;
    padding: 10px;
    /* border: 3px solid black; */
    /* border-radius: 10px; */
    text-align: center;
    background-image: linear-gradient( 126.6deg,  rgba(44,115,210,1) 3.4%, rgba(251,234,255,1) 127.9% );
}
.footer p {
    color: white;
    font-size: 1.1rem;
}