* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    /* background-color: beige; */
    background-color: yellow;
}

.navbar {
    width: 100vw;
    /* height: 100px; */
    height: 65px;
    background-color: black;
    border: 3px solid black;
    display: flex;
}

.border {
    border: 2px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
    border-radius: 1px;
}

/* Box 1 */
.navlogo {
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlogo img {
    width: 125px;
    height: 50px;
}

/* Box 2 */
.location {
    width: 210px;
    height: 60px;
    display:flex;
}
#locationlogo {
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    padding-top: 18px;
}    
#locationinfo {
    width: 190px;
    height: 40px;
    color: white;
    padding: 10px;
}
#p1 {
    font-size: 12px;
}
#p2 {
    font-size: 14px;
}

/* Box 3 */
.searchbar {
    width: 800px;
    height: 60px;
    /* background-color: white; */
    padding: 10px 4px 10px 4px;
    display: flex;
    /* align-items: ; */
}
#category {
    width: 45px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#search {
    width: 700px;
    height: 40px;
    border: none;
}
#logo {
    width: 45px;
    height: 40px;
    color: black;
    background-color: rgb(68, 218, 9);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Box 4 */
.navlanguage {
    width: 70px;
    height: 45px;
    display: flex;
    align-items: center;
}
#flag {
    width: 15px;
    height: 15px;
}
#selectlang {
    width: 15px;
    height: 15px;
}

/* Box 5 */
.navsignup {
    width: 200px;
    height: 50px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    /* border: none; */
}
#signin {
    font-size: 12px;
}
#account {
    font-size: 14px;
}

/* Box 6 */
.navreturn {
    width: 80px;
    height: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#return {
    font-size: 12px;
}
#order {
    font-size: 14px;
}

/* Box 7 */
.navcart {
    width: 90px;
    height: 50px;
    color: white;
    display:flex ;

}
#cart-logo {
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 5px;

}
#cart {
    width: 40px;
    height: 40px;
    font-size: 16px;
    display: flex;
    align-items:end;
    font-weight: bolder;
}

/* Lower Nvabar */

.navbar-2 { 
    width: 100vw;
    height: 40px;
    color: white;
    background-color: #252b2bff;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.border2:hover {
    border: 1px solid white;
    border-radius: 1px;
}

.items {
    height: 40px;
    display: flex;
    align-items: center;
}


 /* CONTENT OF WEBSITE */

 .container {
    width: 98%;
    height: auto;
    background-color: red;
    margin-left: 10px;
    margin-right: 10px;
 }
 .top-product {
    width: 100%;
    height: 300px;
    display: flex;
 }
 .slide {
    width: 10%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
  #slide-logo i {
    font-size: 50px;
  
 }
 #product {
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: center;
 }
#product img {
    width: 90%;
    height: 300px;
} 

/* PRODUCT SECTION */

.product-container-1 {
    width: 1500px;
    height: 1000px;
    border: 2px solid black;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
}
.product-box {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.product-title h2 {
    width: 300px;
    height: 30px;
    margin-left: 30px ;
    margin-top: 20px;
    padding: ;
    font-size: 21px;
    color: #0F1111;
}

.product-image {
    width: 350px;
    height: 400px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}
.product-image img{
    width: 150px;
    height: 110px;
}
.product-image a{
    text-decoration: none; 
    color: #0F1111;
}
.product-image p {
    font-size: 12px;
    font-weight: bolder;   
}
.explore-more  {
    margin-bottom: 20px;
}
.explore-more a {
    text-decoration: none;
    color: #2162A1;
    font-size: 13px;
}

.product-container-2 {
    width: 1500px;
    height: auto;
    border: 2px solid black;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 10px;
}
.product-title-2 {
    display: flex;
    margin: 10px;
}
.right-title {
    padding: 7px;
}
.left-title {
    padding: 10px;
} 
.product-title-2 h2 {
    font-size: 21px;
    color: #0F1111;
}
.product-title-2 a {
    text-decoration: none;
    color: #2162A1;
    font-size: 14px;
}
.product-image-2 {
    background-color: white;
    color: black;
    border: 2px solid black;
    display: flex;
    gap: 5px;
}
.resize-1 img {
    width: 311px;
    height: 250px;
}

.resize-2 img {
    width: 311px;
    height: 300px;
}


  /* Lower signin */

.lower-signin {
    width: 95%;
    height: 150px;
    background-color: blueviolet;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.signin-description {
    padding: 5px;
    display: flex;
    justify-content: center;
}
#signin-button {
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: yellowgreen;
}
.signin-description p {
    font-size: 11px;
}


/* CONTENT OF WEBSITE */

.footer {
    width: 100%;
    height: auto;
    background-color: deepskyblue;
}
#back-to-top {
    width: 100%;
    height: 50px;
    background-color:  #37475A;
    display: flex;
    justify-content: center;
    align-items: center;
}
#back-to-top a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.footer-1 {
    width: 100%;
    height: 480px;
    background-color: #232F3E;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
   
}
.footer-1-content {
    width: 30%;
    height: 480px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    gap: 10px;
    padding: 10px;
    color: white;
}
.footer-1-content h3 {
    font-size: 16px;
}
.footer-1-content a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 500;
}
.footer-1-content a:hover {
    text-decoration: underline;
}
.footer-1-content  li{
    list-style-type: none;
}


/* FOOTER 2 */
.footer-2 {
    width: 100%;
    height: 120px;
    background-color: #232F3E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 400px;
    padding-right: 400px;
}
#footer-logo img {
    width: 80px;
    height: 40px;
}

.footer-language {
    width: 150px;
    height: 40px;
    border: 1px solid white;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#lang-select {
    width: 70px;
    height: 20px;
    border: none;
}
#globe-logo img {
    width: 20px;
    height: 20px;
}
#up-down-logo img {
    width: 15px;
    height: 15px;
    margin-top: 3px;
    
}
.footer-country {
    width: 100px;
    height: 40px;
    border: 1px solid white;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 11px;
    padding-right: 11px;
    margin: 5px;
}
#country-flag img {
    width: 25px;
    height: 20px;

}
#country-name p {
    font-size: 13px;
    color: white;
}


/* FOOTER 3 */
.footer-3 {
    width: 100%;
    height: 500px;
    background-color: #131A22;
}
.part-1 {
    width: 100%;
    height: 200px;
    color: white;
    padding-top: 40px;
    padding-right: 150px;
    padding-left: 100px;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
}
.part-1-content {
    width: 150px;
    height: 60px;
    background-color: red;
}
.part-1-content li {
    list-style-type: none;
    font-size: 12px;
}
}
.part-1-content h5 {
    font-size: 12px;
}

.effect:hover {
    text-decoration: underline;
}