* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    /* background-color: beige; */
    background-color: yellow;
}

.navbar {
    width: 100vw;
    /* height: 100px; */
    height: 65px;
    background-color: black;
    border: 3px solid black;
    display: flex;
}

.border {
    border: 2px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
    border-radius: 1px;
}

/* Box 1 */
.navlogo {
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlogo img {
    width: 125px;
    height: 50px;
}

/* Box 2 */
.location {
    width: 210px;
    height: 60px;
    display:flex;
}
#locationlogo {
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    padding-top: 18px;
}    
#locationinfo {
    width: 190px;
    height: 40px;
    color: white;
    padding: 10px;
}
#p1 {
    font-size: 12px;
}
#p2 {
    font-size: 14px;
}

/* Box 3 */
.searchbar {
    width: 800px;
    height: 60px;
    /* background-color: white; */
    padding: 10px 4px 10px 4px;
    display: flex;
    /* align-items: ; */
}
#category {
    width: 45px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#search {
    width: 700px;
    height: 40px;
    border: none;
}
#logo {
    width: 45px;
    height: 40px;
    color: black;
    background-color: rgb(68, 218, 9);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Box 4 */
.navlanguage {
    width: 70px;
    height: 45px;
    display: flex;
    align-items: center;
}
#flag {
    width: 15px;
    height: 15px;
}
#selectlang {
    width: 15px;
    height: 15px;
}

/* Box 5 */
.navsignup {
    width: 200px;
    height: 50px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    /* border: none; */
}
#signin {
    font-size: 12px;
}
#account {
    font-size: 14px;
}

/* Box 6 */
.navreturn {
    width: 80px;
    height: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#return {
    font-size: 12px;
}
#order {
    font-size: 14px;
}

/* Box 7 */
.navcart {
    width: 90px;
    height: 50px;
    color: white;
    display:flex ;

}
#cart-logo {
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 5px;

}
#cart {
    width: 40px;
    height: 40px;
    font-size: 16px;
    display: flex;
    align-items:end;
    font-weight: bolder;
}

/* Lower Nvabar */

.navbar-2 { 
    width: 100vw;
    height: 40px;
    color: white;
    background-color: #252b2bff;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.border2:hover {
    border: 1px solid white;
    border-radius: 1px;
}

.items {
    height: 40px;
    display: flex;
    align-items: center;
}


 /* CONTENT OF WEBSITE */

 .container {
    width: 95%;
    height: 100vh;
    background-color: red;
    margin-left: 10px;
    margin-right: 10px;
 }

 .top-product {
    width: 100%;
    height: 300px;
    display: flex;

 }
 .slide {
    width: 10%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 /* #slide-logo {
    width: 50px;
    height: 50px;
 } */
  #slide-logo i {
    font-size: 50px;
  
  }
 #product {
    width: 90%;
    height: 300px;
     display: flex;
justify-content: center;
 }
#product img {
    width: 90%;
    height: 300px;
} 

.items-1 {
    width: 1500px;
    height: 2000px;
    border: 2px solid black;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 10px;

}
.product-box {
    background-color: white;
    color: black;
    border: 2px solid black;
}

